<section class="page-section " id="Aide">
    <div class="container px-4 px-lg-5">
        <h2 class="text-center text-white mt-0 header-text">Comment ça marche?</h2>
        <hr class="divider" />
        <div class="row ">
            <div class="col-lg-4 mb-4 text-center">
                <img src="assets/img/1.png" class="icon">
                <div class="border p-3">
                    <h5>Je déclare mon objet perdus</h5>
                    <p>En déclarant votre objet, vous augmentez vos chances de vous faire contacter par celui qui a trouvé votre objet.</p>
                </div>
            </div>
            <div class="col-lg-4 text-center">
                <img src="assets/img/2.png" class="icon">
                <div class="border p-3">
                    <h5>Je déclare mon objet perdus</h5>
                    <p>En déclarant votre objet, vous augmentez vos chances de vous faire contacter par celui qui a trouvé votre objet.</p>
                </div>
            </div>
            <div class="col-lg-4 text-center">
                <img src="assets/img/3.png" class="icon">
                <div class="border p-3">
                    <h5>Je déclare mon objet perdus</h5>
                    <p>En déclarant votre objet, vous augmentez vos chances de vous faire contacter par celui qui a trouvé votre objet.</p>
                </div>
            </div>
        </div>
    </div>
</section>