<section class="page" id="Contact">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-lg-8 ">
                <h2 class="text-white mt-0 header-text">Contact</h2>
            </div>
            <div class="mb-5"><i class="bi-gem fs-1 text-primary"></i></div>
            <div class="col-lg-5">
                <div class="cadre float-lg-start text-center">
                    <h2 class="text-white">Localisation</h2>
                    <div class="d-flex align-items-center ">
                        <img src="assets/img/loc.png" class="icon-small">
                        <p class="m-0 me-2">Université</p>    
                    </div>
                    <div class="d-flex align-items-center ">
                        <img src="assets/img/phone.png" class="icon-small">
                        <p class="m-0 me-2">012345678</p> 
                    </div>
                    <div class="d-flex align-items-center">
                        <img src="assets/img/mail.png" class="icon-small">
                        <p class="m-0 me-2">FindrApplicationPerdTrouv&#64;gmail.com</p>
                    </div>
                    
                    
                    
                </div>
            </div>
            <div class="col-lg-5">
                <div class="cadre float-lg-end text-center">
                    <h2 class="text-white">Réseaux sociaux</h2>
                    <a href="https://www.instagram.com/findrapplication?igsh=MnhvNnp5OWRlM2J4"><img src="assets/img/insta.png" class="icon-small1"></a>
                    <a href="https://www.threads.net/@findrapplication"><img src="assets/img/twitt.png" class="icon-small1"></a>
                    <a href="https://www.facebook.com/share/bQPuJ8C5VWq4psQN/?mibextid=eQY6cl"><img src="assets/img/face.png" class="icon-small1"></a>
                </div>
            </div>            
            
        </div>
    </div>
</section>
