<section class="page-section" id="Formulaire">
    <div class="container px-4 px-lg-5">
        <h2 class="text-center text-white mt-0 header-text">Formulaire de déclaration <br> d'objet perdu ou trouvé</h2>
        <hr class="divider" />
            <div class="mt-5">
                <div class="mb-2"><i class="bi-gem fs-1 text-primary"></i></div>
                <h3 class="text-white header-text">Etat de l’objet :</h3>
                <a class="text-white">Selectionner l'état de votre objet</a>
                <div class="row mt-3">
                    <div class="col-md-6">
                        <button class="btn1 btn-lg btn-long " (click)="onEtatChange('Perdu')" >Perdu</button>
                    </div>
                    <div class="col-md-6">
                        <button class="btn2 btn-lg btn-long" (click)="onEtatChange('Trouvé')">Trouvé</button>
                    </div>
                </div>
                

                <div class="mb-3"><i class="bi-gem fs-1 text-primary"></i></div>
                <h3 class="text-white header-text" >Quoi?</h3>
                <select class="form-select mt-2 select-background" aria-label="Quoi?" (change)="onCategorieChange($event)">
                    <option selected disabled>Selectionner la catégorie de votre objet</option> 
                    <option *ngFor="let name of getUniqueTypes()" [value]="name">{{ name }}</option>
                </select>
                </div>


            <div class="mb-3"><i class="bi-gem fs-1 text-primary"></i></div>
                <h3 class="text-white header-text" >Nature?</h3>
                <select class="form-select mt-2 select-background" (change)="onNatureChange($event)">
                    <option selected disabled>Selectionner la nature de votre objet</option>
                    <option *ngFor="let name of getUniqueNature()" [value]="name">{{ name }}</option>
                </select>
                
            
            <div class="mb-5"><i class="bi-gem fs-1 text-primary"></i></div>
            <div class="mb-5"><i class="bi-gem fs-1 text-primary"></i></div> 
            <form>
                <div class="mb-3">
                  <textarea class="form-control select-background" id="exampleFormControlTextarea1" rows="5" placeholder="Décrivez mieux votre objet" (change)="onDesChange($event)"></textarea>
                </div>
            </form>   
            <div class="mb-5"><i class="bi-gem fs-1 text-primary"></i></div>
            <h3 class="text-white header-text">Où?</h3>
            
            
            <div class="mb-3">
                <select class="form-select mt-2 select-background" id="ville" (change)="onLieuChange($event)">
                    <option selected disabled>Ville</option>
                    <option *ngFor="let name of getUniqueNames()">{{ name }}</option>
                  
                </select>
                
              </div>
              <div class="mb-3" *ngIf="etatSelectionne === 'Perdu'">
                <h3 class="header-text text-white">Adresse mail:</h3>
                <a class="text-white">Si vous avez perdu, saisissez votre adresse e-mail pour recevoir si votre objet a été retrouvé</a>
                <div class="input-group">
                    <input type="text" class="form-control select-background" placeholder="Entrez votre adresse e-mail..."  (input)="onAdresse($event)">
                    <button type="button" class="btn btn-xl" (click)="comparer()">Vérifier</button>
                </div>
                <div *ngIf="!emailValide" class="alert alert-danger" role="alert">
                    L'adresse e-mail saisie est invalide.
                </div>
            </div>
            
            
            <div class="mb-5"><i class="bi-gem fs-1 text-primary"></i></div>
            <h3 class="text-white header-text">Quand?</h3>
            <div class="mb-3 ">
                <a class="btn3 btn-lg btn-long1 me-2" (click)="onDateChange('today')">Aujourd'hui</a>
                <a class="btn3 btn-lg btn-long1 me-2" (click)="onDateChange('Hier')">Hier</a>
                <input  type="date" class="btn3 btn-lg btn-long1" (change)="onDateChange($event)">

            </div>
            
            <div class="mb-5"><i class="bi-gem fs-1 text-primary"></i></div>
            <div class="text-center mt-4">
                <a class="btn btn-xl" (click)="onComplete()" (click)="comparerDonnees()">Terminer</a>
            </div> 
            <!--
            <div *ngIf="lieuVisible" >
                <p *ngIf="lieuSelectionne !== ''">Lieu sélectionné : {{ lieuSelectionne }}</p>
            </div>
            <div *ngIf="etatVisible">
                <p *ngIf="etatSelectionne !== ''">État sélectionné : {{ etatSelectionne }}</p>
            </div>
            <div *ngIf="categorieVisible">
                <p *ngIf="categorieSelectionnee !== ''">Catégorie sélectionnée : {{ categorieSelectionnee }}</p>
            </div>

            <div *ngIf="descriptionVisible">
                <p *ngIf="descriptionSelectionnee !== ''">description sélectionnée : {{ descriptionSelectionnee }}</p>
            </div>

            <div *ngIf="dateVisible">
                <p *ngIf="dateSelectionnee  !== ''">date sélectionnée : {{ dateSelectionnee  }}</p>
            </div>
        -->
            
    </div>
</section>


