<section class="page-section text-center" id="Annonces">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-lg-8">
                <h2 class="text-white mt-0 header-text">Annonces</h2>
                <hr class="divider divider-light" />

                <div class="annonce-container">
                    <div class="cadre1" *ngFor="let annonce of annonces">
                        <div class="annonce-cadre">
                            <h2 class="header-text text-acconce">{{ annonce.gc_obo_nature_c }}</h2>
                            <a>Nature: {{annonce.gc_obo_nature_c}}</a><br>
                            <a>Lieu: {{ annonce.ville }}</a>
                            <a href="#Details" class="lien-details a-annonce" (click)="afficherDetails(annonce)">Voir plus de détails</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="page-section text-center" id="Details" *ngIf="annonceSelectionnee">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-lg-8">
                <h2 class="text-white header-text">Information à propos de l'objet</h2>
                <hr class="divider divider-light" />
                <h2>{{annonceSelectionnee.gc_obo_nature_c}}</h2>
                
                <div class="d-flex justify-content-between"> <!-- Utilisation de la classe d-flex et justify-content-between pour aligner les éléments sur la ligne -->
                    <div class="cadre-details"> <!-- Ajout de la classe col-md-6 pour spécifier la largeur sur les écrans moyens -->
                        <h3 class="header-text text-white" >Informations supplémentaire:</h3>
                        <p class="description">{{ annonceSelectionnee.description }}</p>
                    </div>
                    
                    <div class="cadre-details"> <!-- Ajout de la classe col-md-6 pour spécifier la largeur sur les écrans moyens -->
                        <img src="assets/img/loc.png" class="icon-small">
                        <p class="description">Perdu le {{ annonceSelectionnee.date }} à {{annonceSelectionnee.ville}}</p>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</section>
