<section class="page-section " id="Declaration">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-lg-8 text-center">
                <h2 class="text-white mt-0 header-text">Déclarer vos objets perdus ou trouvé dès maintenant</h2>
                <hr class="divider divider-light" />
                <div class="col-lg-6 float-lg-start">
                    <div class="button1-description">
                        <h4>Vous avez perdu un objet?</h4>
                        <p>Rejoignez notre communauté dynamique et partagez l'aventure de retrouver vos objets perdus ! </p>
                    </div>
                    <a class="btn1 btn-xl" href="#Formulaire" (click)="onGetStarted()">Je déclare mon objet perdu</a>
                </div>

                <!-- Espace entre les colonnes -->
                <div class="col-lg-12 mt-5"></div>

                <!-- Colonne de droite -->
                <div class="col-lg-6 float-lg-end">
                    <div class="button2-description">
                        <h4>Vous avez trouvé un objet?</h4>
                        <p>Soyez un héros du quotidien en aidant quelqu'un à retrouver son objet perdu !</p>
                    </div>
                    <a class="btn2 btn-xl" href="#Formulaire" (click)="onGetStarted()">Je déclare l’objet que j’ai trouvé</a>
                </div>
            </div>
        </div>
    </div>
</section>
<app-formulaire *ngIf="showSection"></app-formulaire>

